name: Update Token Playlist

on:
  workflow_dispatch: # Позволяет запускать вручную кнопкой
  schedule:
    - cron: '0 */6 * * *' # Запускается автоматически каждые 6 часов

jobs:
  update-tokens:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Cache Playwright Browsers
        id: cache-playwright
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: playwright-chromium-${{ runner.os }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install playwright

      - name: Install Playwright Chromium
        if: steps.cache-playwright.outputs.cache-hit != 'true'
        run: python -m playwright install chromium --with-deps

      - name: Install System Deps (Always)
        run: |
          # Исправляем ошибку No module named playwright под sudo
          sudo $(which python) -m playwright install-deps chromium

      - name: Run Update Token Script
        run: python grabber.py # Убедись, что твой файл называется grabber.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add playlist.m3u
          git commit -m "Update Token Playlist: $(date)" || echo "No changes to commit"
          git push

