name: Update Playlist

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: |
          pip install playwright aiohttp
          playwright install chrome
          
      - name: Run grabber
        run: python grabber.py
        
      - name: Commit and Push
        run: |
          git config --global user.name "Bot"
          git config --global user.email "bot@github.com"
          git add playlist.m3u
          git commit -m "Weekly playlist update" || exit 0
          git push

